<% content_for(:page_title, "Alterar #{tm(resource)}") %>

<% content_for :body_page_title do %>
  <div class="row">
    <div class="col-12">
      <h1>Alterar <%= tm(resource) %></h1>
    </div>
  </div>
<% end %>
