<% content_for(:page_title, tmp(resource)) %>

<% content_for :body_page_title do %>
  <div class="row">
    <div class="col-8"><h1><%= tmp(resource) %></div>
    <div class="col-4 text-right"><%= link_to_new resource, url %></div>
  </div>
<% end %>
